* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 13px Helvetica, Arial;
}

.login-screen {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}

.login-screen-inner {
    display: table-cell;
    vertical-align: middle;
}

.login-form {
    width: 200px;
    margin: 20px auto 20px auto;
}

.login-alert {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.chat-room {
    display: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.user-list {
    float: right;
    width: 300px;
    padding: 15px;
    background: white;
    border: 1px solid black;
}

.messages-container {
    height: 100%;
    width: 100%;
    padding-bottom: 44px;
}

#messages {
    height: 100%;
    list-style-type: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

#messages > li {
    padding: 5px 10px;
    white-space: pre-wrap;
}

/*#messages > li:nth-child(odd) {
    background: #eee;
}*/

.log {
    color: gray;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.message-form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message-input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.message-form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
